// Define pipeline parameters
params {
    output_csv = "results/output.csv"
    test_mode = false // Set to true to fetch only the smallest dataset for testing
}

// Enable detailed reporting
timeline.enabled = true
trace.enabled = true
dag.enabled = true

// Enable Wave containers for efficiency
wave.enabled = true

// Use ${baseDir} to correctly set paths for bin/ directory
env.PATH = "${baseDir}/bin:$PATH"

// Define execution profiles
profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    aws {
        includeConfig 'conf/aws.config'
    }
}
