// Default pipeline parameters
params {
// the smallest dataset for testing from cellxgene is a small set healthy human liver: Bcells
// it is part of a collection:
// https://cellxgene.cziscience.com/collections/44531dd9-1388-4416-a117-af0a99de2294
// dataset_id is here: 
    cellxgene_dataset_test_id = "0895c838-e550-48a3-a777-dbcd35d30272"
    
    cellxgene_api = "https://api.cellxgene.cziscience.com/v2/collections"
    output_csv = "results/output.csv"
    test_mode = false // Set to true for testing (fetches only the smallest dataset)
    max_jobs = 100
}

// Enable reports
timeline.enabled = true
trace.enabled = true
dag.enabled = true

// Log directory
log {
    file = "logs/nextflow.log"   // Main Nextflow log file
    level = "INFO"               // Logging level (DEBUG, INFO, WARN, ERROR)
}

// Enable Wave containers for efficiency
wave.enabled = true

// Profile-based configuration loading
profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    aws {
        includeConfig 'conf/aws.config'
    }
}


// Choose executor dynamically
profiles {
    local {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'compute'
    }
    
    aws {
        process.executor = 'awsbatch'
        params.aws_region = 'us-east-1'
    }
}
